%form(action="/cards/scrape" method="post")
  %fieldset
    %input(type="hidden" name="sort" value="abc+")
    %input(type="hidden" name="output" value="checklist")
    %label Choose Card Set
    %select(name="set")
      %option(value="")
      %option(value="Alara Reborn") Alara Reborn
      %option(value="Alliances") Alliances
      %option(value="Antiquities") Antiquities
      %option(value="Apocalypse") Apocalypse
      %option(value="Arabian Nights") Arabian Nights
      %option(value="Archenemy") Archenemy
      %option(value="Battle Royale Box Set") Battle Royale Box Set
      %option(value="Beatdown Box Set") Beatdown Box Set
      %option(value="Betrayers of Kamigawa") Betrayers of Kamigawa
      %option(value="Champions of Kamigawa") Champions of Kamigawa
      %option(value="Chronicles") Chronicles
      %option(value="Classic Sixth Edition") Classic Sixth Edition
      %option(value="Coldsnap") Coldsnap
      %option(value="Conflux") Conflux
      %option(value="Darksteel") Darksteel
      %option(value="Dissension") Dissension
      %option(value="Duel Decks: Divine vs. Demonic") Duel Decks: Divine vs. Demonic
      %option(value="Duel Decks: Elspeth vs. Tezzeret") Duel Decks: Elspeth vs. Tezzeret
      %option(value="Duel Decks: Elves vs. Goblins") Duel Decks: Elves vs. Goblins
      %option(value="Duel Decks: Garruk vs. Liliana") Duel Decks: Garruk vs. Liliana
      %option(value="Duel Decks: Jace vs. Chandra") Duel Decks: Jace vs. Chandra
      %option(value="Duel Decks: Knights vs. Dragons") Duel Decks: Knights vs. Dragons
      %option(value="Duel Decks: Phyrexia vs. the Coalition") Duel Decks: Phyrexia vs. the Coalition
      %option(value="Eighth Edition") Eighth Edition
      %option(value="Eventide") Eventide
      %option(value="Exodus") Exodus
      %option(value="Fallen Empires") Fallen Empires
      %option(value="Fifth Dawn") Fifth Dawn
      %option(value="Fifth Edition") Fifth Edition
      %option(value="Fourth Edition") Fourth Edition
      %option(value="From the Vault: Dragons") From the Vault: Dragons
      %option(value="From the Vault: Exiled") From the Vault: Exiled
      %option(value="From the Vault: Relics") From the Vault: Relics
      %option(value="Future Sight") Future Sight
      %option(value="Guildpact") Guildpact
      %option(value="Homelands") Homelands
      %option(value="Ice Age") Ice Age
      %option(value="Invasion") Invasion
      %option(value="Judgment") Judgment
      %option(value="Legends") Legends
      %option(value="Legions") Legions
      %option(value="Limited Edition Alpha") Limited Edition Alpha
      %option(value="Limited Edition Beta") Limited Edition Beta
      %option(value="Lorwyn") Lorwyn
      %option(value="Magic 2010") Magic 2010
      %option(value="Magic 2011") Magic 2011
      %option(value="Masters Edition") Masters Edition
      %option(value="Masters Edition II") Masters Edition II
      %option(value="Masters Edition III") Masters Edition III
      %option(value="Masters Edition IV") Masters Edition IV
      %option(value="Mercadian Masques") Mercadian Masques
      %option(value="Mirage") Mirage
      %option(value="Mirrodin") Mirrodin
      %option(value="Mirrodin Besieged") Mirrodin Besieged
      %option(value="Morningtide") Morningtide
      %option(value="Nemesis") Nemesis
      %option(value="New Phyrexia") New Phyrexia
      %option(value="Ninth Edition") Ninth Edition
      %option(value="Odyssey") Odyssey
      %option(value="Onslaught") Onslaught
      %option(value="Planar Chaos") Planar Chaos
      %option(value="Planechase") Planechase
      %option(value="Planeshift") Planeshift
      %option(value="Portal") Portal
      %option(value="Portal Second Age") Portal Second Age
      %option(value="Portal Three Kingdoms") Portal Three Kingdoms
      %option(value="Premium Deck Series: Fire and Lightning") Premium Deck Series: Fire and Lightning
      %option(value="Premium Deck Series: Slivers") Premium Deck Series: Slivers
      %option(value="Promo set for Gatherer") Promo set for Gatherer
      %option(value="Prophecy") Prophecy
      %option(value="Ravnica: City of Guilds") Ravnica: City of Guilds
      %option(value="Revised Edition") Revised Edition
      %option(value="Rise of the Eldrazi") Rise of the Eldrazi
      %option(value="Saviors of Kamigawa") Saviors of Kamigawa
      %option(value="Scars of Mirrodin") Scars of Mirrodin
      %option(value="Scourge") Scourge
      %option(value="Seventh Edition") Seventh Edition
      %option(value="Shadowmoor") Shadowmoor
      %option(value="Shards of Alara") Shards of Alara
      %option(value="Starter 1999") Starter 1999
      %option(value="Starter 2000") Starter 2000
      %option(value="Stronghold") Stronghold
      %option(value="Tempest") Tempest
      %option(value="Tenth Edition") Tenth Edition
      %option(value="The Dark") The Dark
      %option(value="Time Spiral") Time Spiral
      %option(value="Time Spiral &quot;Timeshifted&quot;") Time Spiral "Timeshifted"
      %option(value="Torment") Torment
      %option(value="Unglued") Unglued
      %option(value="Unhinged") Unhinged
      %option(value="Unlimited Edition") Unlimited Edition
      %option(value="Urza's Destiny") Urza's Destiny
      %option(value="Urza's Legacy") Urza's Legacy
      %option(value="Urza's Saga") Urza's Saga
      %option(value="Vanguard") Vanguard
      %option(value="Visions") Visions
      %option(value="Weatherlight") Weatherlight
      %option(value="Worldwake") Worldwake
      %option(value="Zendikar") Zendikar
  %fieldset.actions
    %input(type="submit" value="Import Cards")
